.git/

MysteryMemeware/.vs/

MysteryMemeware/MysteryExperience/.vs/
MysteryMemeware/MysteryExperience/bin/
MysteryMemeware/MysteryExperience/obj/

MysteryMemeware/MysteryInstaller/.vs/
MysteryMemeware/MysteryInstaller/bin/
MysteryMemeware/MysteryInstaller/obj/

MysteryMemeware/MysterySupervisor/.vs/
MysteryMemeware/MysterySupervisor/bin/
MysteryMemeware/MysterySupervisor/obj/

MysteryMemeware/MysteryHelper/.vs/
MysteryMemeware/MysteryHelper/bin/
MysteryMemeware/MysteryHelper/obj/

*.user
*.suo